body{
    font-family: 'Roboto', sans-serif;
    background-color: #F0F0F0;
}

.header{
    color: #36648B;
    font-family: 'Roboto', sans-serif;
}
.header-img{
    transform: rotate(270deg);
}
.header-font{
    font-weight: bold;
    font-size: x-large;
    padding-left: 3px;
}

.container{
    margin: auto;
    width: 15rem;
    display: grid;
    row-gap: 1rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: #F0F0F0;
}
.container .inner-container{
    display: grid;
    row-gap: 0.2rem;
    text-align: left;
}

.center {
  position: absolute;
  top: 25%;
  width: 100%;
  text-align: center;
  font-size: 18px;
}

.shadow{
    width: 250px;
    box-shadow: -1px -1px 3px 1px white,1px 1px 3px 1px rgb(201, 193, 193);
    
  }

.inner-shadow{
    box-shadow:inset -1px -1px 2px rgb(255, 255, 255),inset 1px 1px 2px rgb(201, 193, 193);
}

.button{
    background-color: #36648B;
    border: black;
    font-size: 1rem;
    padding: 0.5rem;
    border-radius: 0.5rem;
    color: white;
}


input:focus{
    outline: none;
}
.input-design{
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #F0F0F0;
}
::placeholder {
    color :slategray;
    opacity: 1;
  }

.label-design{
    color: #36648B;
    font-size: large;
}