:root {
    -moz-tab-size: 4;
    tab-size: 4;
}
* {
    --tw-ring-inset: var(--tw-empty,/*!*/ /*!*/);
    --tw-ring-offset-width: 0px;
    --tw-ring-offset-color: #fff;
    --tw-ring-color: rgba(59,130,246,0.5);
    --tw-ring-offset-shadow: 0 0 transparent;
    --tw-ring-shadow: 0 0 transparent;
}
* {
    --tw-shadow: 0 0 transparent;
}
.company-logo img {
    width: 200px;
    height: auto;
}
.login-box {
    background: #ecf0f3;
    border-radius: 20px;
    box-shadow: -8px -8px 16px #fff, 10px 10px 20px rgb(151 167 195 / 30%);
}
input:focus{
    outline: none;
}
.p-5 {
    padding: 1.25rem;
}
*, :after, :before {
    box-sizing: border-box;
    border: 0 solid #e5e7eb;
}
div {
    display: block;
}

.justify-center {
    justify-content: center;
}
.items-center {
    align-items: center;
}
.flex {
    display: flex;
}
.full-screen {
    height: 100vh;
}
.mt-4 {
    margin-top: 1rem;
}

.login-input{
    border: none;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background-color: #ecf0f3;
    box-shadow:inset -1px -1px 2px rgb(255, 255, 255),inset 1px 1px 2px rgb(201, 193, 193);
}

.mt-5 {
    margin-top: 1.25rem;
}

.pt-8 {
    padding-top: 2rem;
}
.mb-4 {
    margin-bottom: 1rem;
}

.w-full {
    width: 100%;
}
.tracking-normal {
    letter-spacing: 0;
}
.text-white {
    --tw-text-opacity: 1;
    color: rgba(255,255,255,var(--tw-text-opacity));
}
.font-medium {
    font-weight: 500;
}
.cus-medium-btn {
    background: #193566;
    padding: 8px 20px;
    border-radius: 6px!important;
}

.tracking-normal {
    letter-spacing: 0;
}
.mb-2 {
    margin-bottom: .5rem;
}
.font-medium {
    font-weight: 500;
}
.block {
    display: block;
}
.modal-input-lable {
    color: rgba(25,53,102,.7);
    float: left;
}
.heading-title-text-color {
    color: #193566;
}

.font-size-16{
    font-size:16px;
}

.center {
    position: absolute;
    top: 25%;
    width: 100%;
}

@media (min-width: 768px){
.md\:w-96 {
    width: 24rem;
    font-family: "Poppins",sans-serif!important;
}
@media (min-width: 768px){
.md\:mx-auto {
    margin-left: auto;
    margin-right: auto;
}
@media (min-width: 768px) and (min-width: 768px){
.md\:container {
    max-width: 768px;
}

body{
    font-family: "Poppins",sans-serif!important;
    background-color: #ecf0f3;
}






